# macOS system files
.DS_Store

# Virtual Environment
.venv/

# C++ build files
/cmake-build-debug/
*.o
*.a
*.so
*.out
*.exe

# CMake files
CMakeCache.txt
CMakeFiles/
CMakeOutput.log
Makefile

# CLion files (IDE-specific)
.idea/

# OpenSSL temporary files
*.log

# Test files (if you don't want to commit them)
TESTS/*

# External libraries (if you have any external folders like dependencies)
External/

# Python files (if applicable)
script.py